* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    font-family: 'Lato';
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:focus-within,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: 0;
    border: none;
}

.prm-btn {
    background: linear-gradient(322.28deg, #6A44A5 -3.02%, #52AFE6 117.02%), #122239;
    padding: 8px 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
}

.prm-btn:hover {
    color: #fff;
}







/* Header */
header {
    position: relative;
}

header .logo-img {
    /* width: 120px; */
    padding: 10px 0;
}

header .nav-links {
    display: flex;
    /* align-items: center; */
    gap: 2.5rem;
}

header ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    position: relative;
}

header ul li a:hover {
    color: #6362B7;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

ul.login-submenu {
    position: absolute;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 10px 1px #aaa;
    text-align: center;
    padding: 10px 0;
    top: 140%;
    border-radius: 6px;
    display: none;
    color: #333;
}

ul.login-submenu li a {
    color: #333;
    margin: 5px auto;
    font-size: 14px;
}

li.login-btn {
    position: relative;
    user-select: none;
    width: fit-content;
    margin: auto;
}

#login-list:checked~ul.login-submenu {
    display: block;
}

/* Drop Down Links */
.dropbtn {
    border: none;
    position: relative;
}

.dropdown {
    cursor: pointer;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 220px;
    z-index: 1;
}

.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: normal;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#check-btn {
    display: none;
}

header ul.nav-links>li::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: #6362B7;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease .3s;
}

header ul.nav-links>li {
    position: relative;
}

header ul.nav-links>li a {
    line-height: 94px;
    display: block;
}

header ul li:hover::after {
    transition: all ease .3s;
    width: 100%;
}

.dropdown-content ul {
    /* margin-top: 30px; */
    background-color: #fff;
    /* box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 20%); */
}

.dropdown-content ul li {
    line-height: normal;
}

.dropdown i {
    transition: all ease .3s;
}

.dropdown:hover i {
    transition: all ease .3s;
    transform: rotate(90deg);
}

.dropdown:hover .dropbtn {
    color: #6362B7;
}
.top-bar{
    background: #403f78;
    color: #fff;
    padding: 10px 0;
}
.top-bar .contacts, .top-bar .socials{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.top-bar .contacts{
    font-size: 13px;
}
.top-bar .contacts i{
    margin-right: 5px;
}
.top-bar .contacts > div:not(:last-child){
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.top-bar a{
    color: #fff;
}




/* Hero Section */
.hero-sec {
    background: url('../assets/header-bg.png');
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.hero-heading {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
}

.red-clr {
    color: #FF0000;
}

.hero-tiktok {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-tiktok img {
    width: 150px;
}
.tiktok-img{
    cursor: pointer;
}
.tiktok-text {
    background-color: #fff;
    padding: 10px 20px;
    font-weight: 900;
    display: flex;
    gap: 2px;
}

.tiktok-text img {
    width: 25px;
}

.client-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 480px;
}
.hero-tiktok a{
    color: #000;
}
.tiktok-video.active{
    display: block;
}
.tiktok-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.tiktok-video .bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
}
.tiktok-video video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.tiktok-video i.fa-xmark{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;
    color: #fff;
    z-index: 999;
}
/* About Section */
.about-sec {
    padding: 100px 0 80px 0;
    position: relative;
}
.about-sec-img{
    position: absolute;
    top: 0;
    right: 0;
    opacity: .4;
    width: 800px;
}

.sm-heading {
    font-weight: 700;
    font-size: 16px;
    color: #6558B1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sm-heading::after {
    content: "";
    display: block;
    background-color: #6558B1;
    width: 100px;
    height: 2px;
}

.about-heading {
    font-weight: 800;
    color: #333;
    font-size: 35px;
    text-transform: uppercase;
    max-width: 500px;
    line-height: 1.2;
    margin-top: 10px;
}

.about-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    max-width: 600px;
}

.about-sec .prm-btn {
    margin-top: 20px;
}





/* Service Section */
.serv-card.head {
    border: 1px solid rgba(18, 34, 57, 0.2);
    padding: 25px;
}

.serv-card {
    height: 250px;
}

.serv-heading {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.serv-card .prm-btn {
    margin-top: 20px;
}

.service-sec .row .col-md-4:nth-child(2) .serv-card {
    background-image: url(../assets/pnp-img.png);
}

.service-sec .row .col-md-4:nth-child(3) .serv-card {
    background-image: url(../assets/express-img.png);
}

.service-sec .row .col-md-4:nth-child(4) .serv-card {
    background-image: url(../assets/spouse-img.png);
}

.service-sec .row .col-md-4:nth-child(5) .serv-card {
    background-image: url(../assets/business-img.png);
}

.service-sec .row .col-md-4:nth-child(6) .serv-card {
    background-image: url(../assets/work-img.png);
}

.service-sec .row {
    row-gap: 25px;
}

.serv-card.serv {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
}

.serv-card.serv .serv-head {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.serv-card.serv .serv-text {
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    position: relative;
    z-index: 2;
    line-height: 16px;
    max-height: 32px;
    overflow: hidden;
    transition: all ease .5s;
}
.serv-card.serv::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000;
    opacity: .5;
    z-index: 1;
    transition: all ease .5s;
}
.serv-card.serv:hover::after{
    height: 300px;
    transition: all ease .5s;
}
.serv-card.serv:hover .serv-text{
    max-height: 100px;
    transition: all ease .5s;
}



/* Need Employee */
section.need-emp {
    padding: 40px 0;
    display: flex;
}

.need-emp-img {
    flex-basis: 40%;
}

.need-emp-text {
    flex-basis: 60%;
    padding: 35px;
    background: url(../assets/need-emp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.need-emp-heading {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
}

.need-emp-text .prm-btn {
    margin-top: 50px;
    background: #fff;
    color: #333;
    width: fit-content;
}

.need-emp-img img {
    height: 100%;
    object-fit: cover;
}

.vlog-heading {
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 800;
}

.vlog-img {
    margin: 10px 0;
}

.vlog .follow-head {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    margin-bottom: 10px;
}





/* Footer */
footer {
    padding: 50px 0 10px 0;
    background-color: #BFE0FF;
    margin-top: 50px;
}

footer ul li.head {
    font-weight: 16px;
    color: #000;
    font-weight: 800;
    margin-bottom: 20px;
}

footer ul li a {
    color: #333;
}

footer ul li {
    margin-bottom: 10px;
    font-weight: 700;
    color: #666;
}

footer .grey-text {
    color: #000;
    font-weight: 700;
}

.lwr-footer {
    text-align: center;
    margin-top: 10px;
}






@media only screen and (max-width: 991px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav #nav-check:checked~.nav-btn>label span:first-child {
        display: block;
        transform: rotate(45deg);
    }

    .nav #nav-check:checked~.nav-btn>label span:last-child {
        display: block;
        transform: rotate(-45deg);
    }

    .nav #nav-check:checked~.nav-btn>label span {
        display: none;
        transform-origin: 8.6px 2.1px;
        transition: all linear .2s;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 3px solid #aaa;
        transition: all linear .2s;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 94px;
        left: 0px;
        z-index: 999;

    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    header ul li a:hover {
        color: #fff;
    }

    header ul li a,
    header ul li label {
        font-size: 20px;
        color: #fff;
        width: fit-content;
        display: block;
        margin: 25px auto;
    }

    .page-header h1 {
        font-size: 40px;
        font-weight: 800;
    }

    section.services h1 {
        font-size: 40px;
    }

    .opt-box {
        flex-direction: column;
        width: 100%;
    }

    .opt-box>div {
        width: 100%;
    }

    .client-image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 320px;
    }

    .hero-heading {
        font-size: 30px;
    }

    header ul.nav-links>li a {
        line-height: 1;
    }

    header ul.nav-links>li::after {
        content: unset;
    }

    .dropdown-content a {
        padding: 0;
        text-decoration: none;
        display: block;
        font-size: 14px;
        margin: 10px auto;
        color: #ccc;
    }

    .dropdown-content ul {
        background-color: unset;
    }

    .dropdown-content {
        position: static;
    }

    #check-btn:checked~.dropdown-content {
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }


    .dropdown:hover .dropbtn {
        color: #fff;
    }

    .dropdown .dropdown-content a{
        color: #aaa;
        padding: 0;
    }
}


@media only screen and (max-width: 767px) {
    .client-image {
        display: none;
    }

    .hero-sec {
        height: unset;
    }

    .need-emp-img {
        display: none;
    }

    .need-emp-text {
        flex-basis: 100%;
    }

    footer {
        text-align: center;
    }
    .top-bar .socials{
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .hero-tiktok {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
    }
}